* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
}
.parent {
	position: relative;
	padding: 15px 20px;
	background-color: rgb(72, 248, 248);
}
.first {
	padding: 10px;
	background-color: rgb(125, 244, 125);
}
.second {
	padding: 10px;
	background-color: rgb(232, 133, 28);
}
.third {
	padding: 10px;
	background-color: rgb(208, 125, 244);
}

           /* Flexbox Training */
.flexbox-item {
	width: 200px;
	margin: 10px;
	border: 3px solid rgb(79, 79, 79);
	background-color: darkgray;
}
.flexbox-item-1 {
	min-height: 100px;
}
.flexbox-item-2 {
	min-height: 200px;
}
.flexbox-item-3 {
	min-height: 300px;
}